/* Styling for general website appearance and managing pages */
h1 {
    text-align: center;
    font-size: 6vw;
    margin: 0.8vw auto 0.8vw auto;
}

/* No underline for the link */
h1 a {
    text-decoration: none;
    color: #85c7c9;
}

h2 {
    text-align: center;
    margin: 2vw;
}

/* Remove the extra white edge on the sides */
body {
    margin: 0;
}

aside {
    background-color: #2a343eee;   
}

nav {
    width: 100%;
    padding: 0;
    color: #85c7c9;
    margin: 0;
    overflow: hidden;
    background-color: #2a343eee;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;  /* Display list items on the same line */
    height: 100%;
    padding: 1vw;
    text-align: center;
    margin: 0;
    background-color: #2a343eee;
}

nav li a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    color: #85c7c9;
}

nav li:hover {
    background-color: #506376ee;
}

aside nav ul .activeNav {
    background-color: #85c7c9;
}

aside nav ul .activeNav:hover {
    background-color: #85c7c9;
}

aside nav ul .activeNav a {
    color: #2a343eee;
}

#gameOptions {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5vw;
    padding: 1vw;
    margin: 2vw 10vw 2vw 10vw;
    background-color: #ddeaec;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.thumbnail {
    display: flex;
    border-radius: 3vw;
    background-color: #ffffff;
    width: 15vw;
    height: 25vw;
    margin: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: transform 0.1s ease-in-out;
    flex-direction: column;
}

.thumbnail img {
    margin: auto;  /* Center the image */
    padding: 0;
    width: 50%;
}

.gameTitle {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.gameDescription {
    font-size: 12px;
    margin: auto;
    padding: 0;
}

.thumbnail:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
	font-size: 12px;
    padding: 3px;
    background-color: #85c7c9
}