h2 {
    text-align: center;
}

.stage {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 1vw 0vw 0vw 0vw;
    row-gap: 1vw;
    margin: auto;
    column-gap: 1vw;  /* TODO not sure why the columns are still further apart? */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.word {
    display: flex;
    position: relative;
    background: #d4d4d4;
    color: #3c3c3c;
    border-radius: 1.5vw;
    font-size: 1vw;
    padding: 0.5vw;
    margin: auto;
    width: 5.5vw;
    height: 5.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    white-space: nowrap;
}

.word:hover {
    background: #b5b4b4;
}

.category {
    grid-column: 1 / span 4;  /* Make the square take up whole row */
    display: flex;
    position: relative;
    color: #3c3c3c;
    border-radius: 1.5vw;
    font-size: 1vw;
    padding: 0.5vw;
    margin: auto;
    width: 28vw;
    height: 5.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    white-space: nowrap;
}

.easy {
    background: #f6db6e;
}

.normal {
    background: #65cd68;
}

.hard {
    background: #86b2e3;
}

.adv {
    background: #b773d7;
}

.selected {
    background: #767676;
    color: #d4d4d4;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 1.5vw;
}

.btn {
    background: #c1e0c3ee;
    border-radius: 3vw;
    border: 0.1vw solid black;
    color: black;
    font-size: 1vw;
    text-align: center;
    padding: 1.5vw;
    margin: 1.5vw;
}

.btn:hover {
    background: #fff6b4ee
}

.unavailable {
    background: #e9ede9ee;
}

.unavailable:hover {
    background: #e9ede9ee;
}
