h2 {
    text-align: center;
}

.stage {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 5vw;
    row-gap: 1vw;
    column-gap: 1vw;  /* TODO not sure why the columns are still further apart? */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.word {
    display: flex;
    position: relative;
    background: #d4d4d4;
    color: #5e5e5e;
    border-radius: 4vw;
    font-size: 3vw;
    padding: 0.5vw;
    margin: auto;
    width: 12vw;
    height: 12vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    white-space: nowrap;
}




.word:hover {
    background: #b5b4b4;
}

.easy {
    background: #65cd68;
}

.normal {
    background: #ffeb50;
}

.hard {
    background: #6dc5e4;
}

.advanced {
    background: #c662df;
}

.selected {
    background: #767676;
    color: #d4d4d4;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 1.5vw;
}

.btn {
    background: #c1e0c3ee;
    border-radius: 4vw;
    border: 0.1vw solid black;
    color: black;
    text-align: center;
    padding: 3vw;
    margin: 1.5vw;
}

.btn:hover {
    background: #fff6b4ee
}

.unavailable {
    background: #e9ede9ee;
}

.unavailable:hover {
    background: #e9ede9ee;
}
