.guess-bar, .button, .key {
    font-family: "DejaVu Serif";
}

.box, .guess-bar, .key, .row-one, .row-two , .row-three {
    display: flex;  
}

body {
    /* font-family: "Roboto", sans-serif; */
    flex-direction: column;
    align-items: center;
}

main {
    height: 80%;       
}


#container {
    height: 73%;
    width: 100%;
}

.box {
    margin: auto auto auto auto;
    width: 5vw;
    height: 5vw;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    background-color:#f5f5dc;
}

#grid-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0vw 2vw 2vw 2vw;
    row-gap: 1vw;
    margin: 0vw auto auto auto;
    column-gap: 1vw;
    grid-template-columns: auto auto auto auto auto;  /* 5 letter words */
    grid-template-rows: auto auto auto auto auto auto;  /* 6 tries */
}

.guess-bar {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.guess-bar input {
    font-family: "DejaVu Serif";
    font-size: 1.2vw;
    width: 12vw;
    height: 3vw;
}

.guess-bar button {
    font-family: "DejaVu Serif";
    font-size: 1.2vw;
    width: 5vw;
    height: 3.5vw;
    color: black;
    background-color: #c1e0c3ee;
}

.guess-bar button:hover {
    background: #fff6b4ee
}

.keyboard {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    padding: 2vw;
}

.row-one, .row-two, .row-three{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.key {
    border-radius: 40%;
    width: 4vw;
    height: 4vw;
    border: solid black 0.1vw;
    background-color:#f5f5dc;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    margin: 0.5vw;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 2rem;
    }
    
    /* header {
        padding: 20px; 
    }
    header h1 {
        font-size: 1.5em;
    }

    .content {
        display: block;
    }
    .image {
        display: block;
        margin: 0, auto;
        text-align: center;
    }
    .text {
        text-align: center;
    }
    body {
        background: linear-gradient(to bottom, #fced19, #a8ca4ae1); // Adjust colors as needed //
    }  */
}