/* Styling for general website appearance and managing pages */
h1, h2, h3, h4, h5, .redirect, a, .thumbnail, .basicParagraph, .gameTitle, .gameDescription, footer {
    font-family: "DejaVu Serif";
}

h1 {
    text-align: center;
    font-size: 6vw;
    margin: 0.8vw auto 0.8vw auto;
}

/* No underline for the link */
h1 a {
    text-decoration: none;
    color: #85c7c9;
}

h2 {
    text-align: center;
    font-size: 2.5vw;
    margin: 2vw;
}

.redirect {
    display: flex;
    color: black;
    background-color: rgb(247, 229, 129);
    font-size: 1.1vw;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 12vw;
    height: 3.5vw;
    padding: 1.5vw;
    margin: 2vw auto 4vw auto;
    border-radius: 20%;
    transition: transform 0.1s ease-in-out;
}

.redirect:hover {
    transform: scale(1.35);
}

/* Remove the extra white edge on the sides */
body {
    margin: 0;
    font-family: "DejaVu Serif";
}

aside {
    background-color: #2a343eee;   
}

nav {
    width: 100%;
    padding: 0;
    color: #85c7c9;
    margin: 0;
    overflow: hidden;
    background-color: #2a343eee;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;  /* Display list items on the same line */
    height: 100%;
    padding: 1.2vw 1.7vw;
    text-align: center;
    margin: 0;
    background-color: #2a343eee;
}

nav li a {
    text-align: center;
    text-decoration: none;
    font-size: 1.3vw;
    color: #85c7c9;
}

nav li:hover {
    background-color: #506376ee;
}

aside nav ul .activeNav {
    background-color: #85c7c9;
}

aside nav ul .activeNav:hover {
    background-color: #85c7c9;
}

aside nav ul .activeNav a {
    color: #2a343eee;
}

#gameOptions {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5vw;
    padding: 1vw;
    margin: 4vw 10vw 4vw 10vw;
    background-color: #ddeaec;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.thumbnail {
    display: flex;
    border-radius: 3vw;
    background-color: #ffffff;
    width: 17vw;
    height: 25vw;
    margin: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: transform 0.1s ease-in-out;
    flex-direction: column;
}

.thumbnail img {
    padding: 0;
    width: 50%;
}

.basicParagraph {
    margin: 1.2vw 10vw;
    text-align: justify;
    font-size: 1.2vw;
}

.gameTitle {
    display: block;
    font-weight: bold;
    font-size: 1.8vw;
    margin: 1vw auto 0.5vw auto;
    padding: 0;
}

.gameDescription {
    font-size: 1.2vw;
    margin: 0.4vw;
    padding: 0vw 1vw 0vw 1vw;
}

.thumbnail:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
	font-size: 1.3vw;
    padding: 1vw;
    color: #85c7c9;
    background-color: #2a343eee;
}

#etypemo-img {
    width: 12vw;
    height: auto;
}

@media screen and (max-width: 750px) {
    .basicParagraph {
        margin: auto 5vw;
    }
}