.img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.grid {
    margin: 2vw auto 4vw auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 0.7vw;
    column-gap: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.button {
    display: flex;
    margin: 0;
    padding: 0;
    width: 6vw;
    height: 6vw;
    overflow: hidden;
    border: none;
    background: none;
}

#score, #id{
    font-family: "DejaVu Serif";
    font-size: 2vw;
}