body {
    flex-direction: column;
    align-items: center;
}

main {
    height: 80%;       
}

.button, .key {
    font-family: "DejaVu Serif";
}

.box, .key, .row-one, .row-two , .row-three {
    display: flex;  
}

.box {
    margin: auto auto auto auto;
    width: 5vw;
    height: 5vw;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    background-color:#f5f5dc;
}

.keyboard {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    padding: 2vw;
}

.row-one, .row-two, .row-three{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.key {
    border-radius: 40%;
    width: 4vw;
    height: 4vw;
    border: solid black 0.1vw;
    background-color:#f5f5dc;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    margin: 0.5vw;
}

#container {
    height: 73%;
    width: 100%;
}

#grid-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0vw 2vw 2vw 2vw;
    row-gap: 1vw;
    margin: 0vw auto auto auto;
    column-gap: 1vw;
    grid-template-columns: auto auto auto auto auto;  /* 5 letter words */
    grid-template-rows: auto auto auto auto auto auto;  /* 6 tries */
}

#retry, #retry-button {
    display: flex;
    justify-content: center;
}   

#retry {
    margin-bottom: 0.2vw;
}

#retry-button {
    opacity: 0;
    font-family: "DejaVu Serif";
    color: black;
    background-color: rgb(247, 229, 129);
    font-size: 1.1vw;
    align-items: center;
    width: 12vw;
    height: 1vw;
    padding: 1.5vw;
    margin: 0;
    border-radius: 20%;
}